<link rel = "stylesheet" type = "text/css" href = "/stylesheets/countries/countries_edit.css" />
<form action="/countries/<%= @country.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="PATCH">

<div class="topnav">
  <a href="/countries">See My Countries</a>
</div>

<div class="container">
  <h1>Update Cities In <%=@country.name%>  !</h1>
  <br>
    <h2>Cities</h2>
    <br>
    
    <%count = 1 %>
    <% @country.cities.each do |city| %>
      <% if city.user_id == current_user.id %>

        <% if city.name  %>
          <label for="cities[][name]">City No. <%=count%></label></br></br>
          <input type="text" name="cities[][name]" value="<%=city.name%>"></br>

          <label for="cities[][trip_details]">Trip Details</label></br>
          <input  type="text" name="cities[][trip_details]" value="<%=city.trip_details%>"></textarea></br>
          <% count = count + 1 %>
        <%end%>
      <%end%>
    <%end%>
    
  
  <input type="submit" value="Update" class="submitbtn">
</form>
