<link rel = "stylesheet" type = "text/css" href = "/stylesheets/countries/countries_show.css" />
<h2>Your current Destination!</h2>

<div class="row">
    <div class="column">
        <div class="card">
            <h2><%=@country[:name] %></h2>
            <% @country.cities.each do |city| %> 
                <% if city.user_id == current_user.id %> 
                    <h3><%= city.name%></h3>
                    <p><%=  city.trip_details %></p>
                <% end %>
            <%end%>
 

            
            <a href="/countries/<%= @country.id %>/edit"><button class="btn edit">Edit</button></a>
            
            <a href="/countries"><button class="btn list">My Countries List<button></a>

            <form method="POST" action="/countries/<%= @country.id %>">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete" class="btn delete">
            </form>
        </div>
    </div>
</div>